.modal-header button.btn-close {
    margin-top: 0px;
  }
  
  h5.modal-title {
    font-size: 30px;
    line-height: 30px;
  } 
    
 
  .btn-danger.btn-lg {
    padding: 7px 23px;
  }
   
   
  .form-check.cus-form-check {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .form-check-input {
    cursor: pointer;
  }
  
  .form-check.cus-form-check .form-check-input {
    margin: 0;
    float: none;
    cursor: pointer;
  } 
  .add-admin-button .fa-ellipsis-v {
    color: #707070;
    cursor: pointer;
  }
  
  label.form-error {
    color: #e63138;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 400;
  }
  
  .form-row .form-control.error {
    border-color: #f31414;
  }
 
  .import-error-msg {
    font-size: 18px;
    line-height: 24px;
  }
  
  .no-border {
    border-bottom-width: 0;
    border: unset;
  }
   
  .modal-footer > .row {
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
  }
   
  .btn-link-green:hover,
  .btn-link-green:focus {
    color: #37753a;
  }
  .form-row.input-group input ~ .btn-remove {
    background-color: #e4e4e4;
    color: #ec2323;
    font-size: 21px;
    padding: 0 10px;
    outline: none;
    box-shadow: none;
  }
  .form-row.input-group input ~ .btn-remove:hover,
  .form-row.input-group input ~ .btn-remove:focus {
    background-color: #ffc4c4;
    color: #ec2323;
  } 
  span.txt-saving {
    color: #125415;
    margin: 10px 5px;
    display: inline-block;
    font-style: italic;
  }
  .btn-primary.btn-saving {
    font-style: italic;
  } 
  ::ng-deep .modal-content app-create-user {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    outline: none;
  }
  ::ng-deep app-create-user
    .custom-ng-select.ng-select.ng-select-multiple
    .ng-select-container
    .ng-value-container
    .ng-value {
    height: 22px;
  }
   